# Notion secret integration
NOTION_SECRET=ntn_Q19780426419MyZ6yMdWdJ25YSB4G003vB5l4UhKzkN5BW
# Database id from cloned template
BLOG_DATABASE_ID=5aa075e689118368a606819b0ef16340

# Convertkit subscription (Optional)
NEXT_PUBLIC_CONVERTKIT_FORM_ID=
NEXT_PUBLIC_CONVERTKIT_API_KEY=

# Umami analytics (Optional)
NEXT_PUBLIC_UMAMI_URL=
NEXT_PUBLIC_UMAMI_ID=
