# Notion secret integration
NOTION_SECRET=ntn_T197804264181YQEZLfJrfbRtTuWigNrTH0OZxdVkWA4n6
# Database id from cloned template
BLOG_DATABASE_ID=5aa075e689118368a606819b0ef16340

# Convertkit subscription (Optional)
NEXT_PUBLIC_CONVERTKIT_FORM_ID=
NEXT_PUBLIC_CONVERTKIT_API_KEY=

# Umami analytics (Optional)
NEXT_PUBLIC_UMAMI_URL=
NEXT_PUBLIC_UMAMI_ID=
